/* Fonts:
font-family: 'Ubuntu', sans-serif;
*/
img{
    display:block;
    margin:auto;
}
.Rachel{
    border:dashed 5px rgb(255, 204, 102);
}
.liketodo{
    text-align:center;
}
.Desself{
    text-align:center;
}
ul{
    width:100px;
    margin:auto;
}
ol{
    width:100px;
    margin:auto;
}
.name{
    text-align:center;
}
.Namedes{
     text-align:center;   
}
.Daniel{
    display:block;
    margin:auto;
    width:300px;
    border: 5px dotted rgb(158,158,158);
}
.Musiciandes{
    text-align:center;
}
body{
    background:rgb(252,255,141);
}
h2{
    text-align:center;
}
p{
    text-align:center;
}
h1{
    text-shadow: 1px 3px 2px rgb(199,175,80);
    font-family: 'Ubuntu', sans-serif;

}